.App {
  display: flex;
  flex-direction: column;
  
  align-items: center;

  width: 60%;
  min-height: 500px;

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;

  padding: 20px;

  background-color: aquamarine;
}

.title {
  color: blue;
  text-shadow: 4px 4px 1px white;
}
.box {
  display: flex;
  gap: 10px;
}